{% extends 'base.html' %}

{% block javascript %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {'title':'How Much Pizza I Ate Last Night',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

{% endblock %}

{% block title %}
        Anwesenheiten - Keepertrainer
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 top-navigation">
            <a href="{% url 'index' %}">
                <i class="fas fa-chevron-left"></i>
                Zurück zum Dashboard
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% for attendance in attendances %}
            {{ attendance.session_id }}
            {% endfor %}
            <br>
            {% for session in sessions %}
            {{ session.id }}
            {{ session.topic }}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% for item in count_absence %}
            {{ item.keeper }}
            {{ item.absence_count }}
            {% endfor %}
            <br>
            {% for item in count_presence %}
            {{ item.keeper }}
            {{ item.presence_count }}
            {% endfor %}
            <br>
            {% for item in attendance_ratio %}
            {{ item.keeper }}
            {{ item.presence_count }}
            {% endfor %}
        </div>
    </div>
    Offene nicht erfasste Training
    Prozentuale Übersicht über TH
    <div class="row">
        <div class="col-12">
            <h2>Anwesenheiten</h2>
        </div>
    </div>
    <p class="caption">Trainings ohne Anwesenheitsangaben</p>
    <div class="row">
        <div class="col-12 mx-auto">
            <ul class="collection">
                {% for session in sessions %}
                <a href="{% url 'new_attendance' package_pk=package.package_id team_pk=team.pk %}">
                    <li class="collection-item">
                        <span class="regular-2">{{ session.topic }}</span>
                        <p>{{ session.date|date:"l" }}, {{ session.date|date:"d. F" }} {{ session.time }}</p>
                        <div class="secondary"><i class="fas fa-edit fa-lg"></i></div>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <p class="caption">Anwesenheitsspiegel</p>
    <div id="chart_div"></div>

</div>

{% endblock %}