{% extends 'base.html' %}

{% block title %}
        Anwesenheiten - Keepertrainer
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 top-navigation">
            <a href="{% url 'index' %}">
                <i class="fas fa-chevron-left"></i>
                Zurück zum Dashboard
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <h2>Anwesenheiten</h2>
        </div>
        <div class="col-3">
            <div class="dropdown">
                <a class="btn alternate-btn"  type="button" id="dropdownMainMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h fa-lg"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMainMore">
                    <li class="dropdown-item">PDF</li>
                    <li class="dropdown-item">Bearbeiten</li>
                </ul>
            </div>
        </div>
    </div>
    <p class="caption">Anwesenheitsspiegel</p>
    <div class="row">
        {% for keeper in count_presence %}
        <div class="col-12 col-lg-4">
            <ul class="card">
                <li class="card-item">
                    <span class="regular-2">{{ keeper.keeper__first_name }} {{ keeper.keeper__last_name }}</span>
                    <p class="subheading">{{ keeper.presence_percentage }}%</p>
                    <hr/>
                    <p class="teal-green-text"><i class="fas fa-check-circle fa-lg"></i> {{ keeper.present_count }} Anwesend</p>
                    <p class="alerting-red-text"><i class="fas fa-times-circle fa-lg"></i> {{ keeper.absent_count }} Abwesend</p>
                    <p class="alternate-grey-text"><i class="far fa-circle fa-lg"></i> 3 Noch nicht erfasst</p>
                    <a href="{% url 'attendance_detail' keeper_pk=keeper.keeper team_pk=team.pk package_pk=package.package_id %}" type="button" class="btn secondary-btn">Alle Trainings zeigen</a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
    <p class="caption">Trainings ohne Anwesenheitsangaben</p>
    <div class="row">
        <div class="col-12 mx-auto">
            <ul class="collection">
                {% for session in sessions %}
                <a href="{% url 'new_attendance' package_pk=package.package_id team_pk=team.pk %}">
                    <li class="collection-item">
                        <span class="regular-2">{{ session.topic }}</span>
                        <p>{{ session.date|date:"l" }}, {{ session.date|date:"d. F" }} {{ session.time }}</p>
                        <div class="secondary"><i class="fas fa-edit fa-lg"></i></div>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}