{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load compress %}

{% block bootstrap4_extra_head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" type="text/css">

    {% compress css %}
    <!-- Custom CSS -->
    <link href="{% static 'base/css/custom.css' %}" rel="stylesheet" type="text/css">
    {% endcompress %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Icons -->
    <!-- <link href="{% static 'base/css/open-iconic.css' %}" rel="stylesheet" type="text/css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>


{% endblock %}

<title>
    {% block title %}
        Dashboard - Keepertrainer
    {% endblock %}
</title>

{% block bootstrap4_content %}

{% block navigation %}
<!--  Start Navbar -->
<div class="navbar navbar-expand primary-blue">
        <div class="nav navbar-nav">
           <div class="nav-item dropdown">
               <button class="nav-link dropdown-toggle btn secondary-btn" data-toggle="dropdown" href="#" id="teamsDropdown" aria-haspopup="true" aria-expanded="false">Teams</button>
               <ul class="dropdown-menu" aria-labelledby="teamDropdown">
                   {% for team in teams %}
                   <li class="dropdown-header">{{ team.name }}</li>
                   {% for user_package in team.userpackage_set.all %}
                   <li><a class="dropdown-item" href="{% url 'select_package' team_pk=user_package.team.id package_pk=user_package.package.id %}">{{ user_package.package }}</a></li>
                   {% endfor %}
                   {% endfor %}
                   <div class="dropdown-divider"></div>
                   <li><a class="dropdown-item" href="{% url 'new_team' %}">Neues Team erstellen</a></li>
               </ul>
           </div>
        </div>
        <div class="navbar-header mx-auto">
            <a class="navbar-brand primary-light-grey-text" href="{% url 'index' %}">
                Keepertrainer
            </a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle primary-light-grey-text d-none d-sm-block" data-toggle="dropdown" href="#" id="accountDropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-2x"></i> {{ user.username }}
                </a>
                <a class="nav-link dropdown-toggle primary-light-grey-text d-block d-sm-none" data-toggle="dropdown" href="#" id="accountDropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-2x"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
                    <li><a class="dropdown-item" href="{% url 'account_settings' %}">Einstellungen</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="{% url 'auth_logout' %}">Abmelden</a></li>
                </ul>
            </div>
        </div>
</div>

{% endblock %}

{% block body %}
<div class="container">
    {% if user.is_authenticated %}
    {% for team in teams %}
    <div class="row primary-title">
        <div class="col-lg-6">
            <h2>
                {{ team.name }}
            </h2>
        </div>
        <div class="col-lg-6 text-lg-right">
            <a class="btn secondary-btn" href="{% url 'edit_team' team_pk=team.pk %}"><i class="fas fa-pencil-alt fa-xs"></i> Bearbeiten</a>
            <a class="" href="{% url 'delete_team' team_pk=team.pk %}">Team löschen</a>
        </div>
    </div>
    <div class="row">
        {% for user_package in team.userpackage_set.all %}
        <div class="col-12 col-lg-4 col-md-6">
            <a href="{% url 'select_package' team_pk=user_package.team.id package_pk=user_package.package.id %}">
                <div class="dashboard-card">{{ user_package.package }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-12 new-team">
            <a class="primary-blue-text" href="{% url 'new_team' %}">Neues Team erstellen</a>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-lg-8 col-md-8 mx-auto primary-title">
            <h2>
                Willkommen unbekannter Trainer
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 mx-auto">
            Du bist nicht angemeldet <br />
            <a href="{% url 'auth_login' %}">Zur Anmeldung</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}


<footer class="footer">
    <div class="container-fluid index">
        <div class="row">
            <div class="col-12 col-lg-8 text-center text-lg-left">
                v 1.00
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- <script src="{% static 'base/js/bootstrap.js' %}" type="text/javascript"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


{% endblock %}