{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load bootstrap3 %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 mx-auto">
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form.errors }}
                <h5>Möchtest du den Torhüter {{ keeper.first_name }} {{ keeper.last_name }} wirklich löschen?</h5><br>
                {% bootstrap_button "Torhüter löschen" button_type="submit" button_class="teal-green btn-block" %}
            </form>
        </div>
    </div>
</div>

{% endblock %}