{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 top-navigation">
            <a href="{% url 'select_package' team_pk=team.pk package_pk=package.pk %}">
                <i class="fas fa-chevron-left"></i>
                Zurück zu den Torhüter
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <ul class="detail">
                <li class="detail-top">
                    <img src="{{ MEDIA_URL }}{{ keeper.avatar_image }}">
                    <span class="title">Berndt Schuster</span><br>
                    <span class="value-text">2. Liga Interregional</span><br/>
                    <span class="value-text">03. März 2001</span>
                </li>
                <li class="detail-content">
                    <div class="title">Adresse</div>
                    <span class="value-text">Bernstrasse 1</span><br/>
                    <span class="value-text">3030 Münchenbuchsee</span><br/>
                    <span class="value-text">millerben.gafsteiner@weblandschweiz.ch</span><br/>
                    <span class="value-text">079 691 87 29</span><br/>
                </li>
                <hr />
                <li>
                    <div class="title">Weitere Angaben</div>
                    <span class="value-text">Bernstrasse 1</span><br/>
                    <span class="value-text">3030 Münchenbuchsee</span><br/>
                    <span class="value-text">millerben.gafsteiner@weblandschweiz.ch</span><br/>
                    <span class="value-text">079 691 87 29</span><br/>
                </li>
            </ul>
        </div>
    </div>
</div>


{{ keeper.last_name }}
{{ keeper.first_name }}
{{ keeper.birthdate }}
{{ keeper.club }}
{{ keeper.level }}
<!-- divider -->
{{ keeper.street }}
{{ keeper.zip_city }}
{{ keeper.phone }}
{{ keeper.email }}
<!-- divider -->
{{ keeper.nationality }}
{{ keeper.occupation }}
{{ keeper.shirtnumber }}
{{ keeper.foot }}
{{ keeper.height }}
{{ keeper.weight }}
{{ keeper.notes }}

<a href="{% url 'edit_keeper' keeper_pk=keeper.pk %}">Torhüter editieren</a>
<a href="{% url 'delete_keeper' keeper_pk=keeper.pk %}">Torhüter löschen</a>

{% endblock %}