{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 top-navigation">
            <a href="{% url 'select_package' team_pk=team.pk package_pk=package.pk %}">
                <i class="fas fa-chevron-left"></i>
                Zurück zu den Torhüter
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <ul class="detail">
                <li class="detail-top avatar">
                    <img src="{{ MEDIA_URL }}{{ keeper.avatar_image }}">
                    <span class="display">{{ keeper.first_name }} {{ keeper.last_name }}</span><br>
                    <span class="regular-1">{{ keeper.level }}</span><br/>
                    {% if keeper.birthdate %}<span class="regular-1">{{ keeper.birthdate }}</span>{% endif %}
                </li>
                <div class="caption">Adresse</div>
                <li class="detail-content">
                    {% if keeper.street or keeper.zipcity or keeper.email or keeper.phone %}
                    <span class="regular-1">{{ keeper.street }}</span><br/>
                    <span class="regular-1">{{ keeper.zipcity }}</span><br>
                    <span class="regular-1">{{ keeper.email }}</span><br>
                    <span class="regular-1">{{ keeper.phone }}</span>
                    {% else %}
                    <span class="regular-1">Erfasse eine Adresse, E-Mail oder Telefonnummer für eine rasche Kontaktaufnahme</span>
                    {% endif %}
                </li>
                <div class="caption">Weitere Angaben</div>
                <li class="detail-content">
                    <div class="group">
                        <span class="caption">Nationalität</span>
                        {% if keeper.nationality %}<p class="regular-1">{{ keeper.nationality }}</p>{% else %}<p class="regular-1">keine Angabe</p>{% endif %}
                        <span class="caption">Tätigkeit</span>
                        {% if keeper.occupation %}<p class="regular-1">{{ keeper.occupation }}</p>{% else %}<p class="regular-1">keine Angabe</p>{% endif %}
                    </div>
                    <div class="group">
                        <span class="caption">Trikotnummer</span>
                        {% if keeper.shirtnumber %}<p class="regular-1">{{ keeper.shirtnumber }}</p>{% else %}<p class="regular-1">keine Angabe</p>{% endif %}
                        <span class="caption">Starker Fuss</span>
                        {% if keeper.foot %}<p class="regular-1">{{ keeper.foot }}</p>{% else %}<p class="regular-1">keine Angabe</p>{% endif %}
                    </div>
                    <div class="group">
                        <span class="caption">Grösse</span>
                        {% if keeper.height %}<p class="regular-1">{{ keeper.height }} cm</p>{% else %}<p class="regular-1">keine Angabe</p>{% endif %}
                        <span class="caption">Gewicht</span>
                        {% if keeper.weight %}<p class="regular-1">{{ keeper.weight }} kg</p>{% else %}<p class="regular-1">keine Angabe</p>{% endif %}
                    </div>
                </li>
            </ul>
            <a class="btn primary-btn" href="{% url 'edit_keeper' keeper_pk=keeper.pk team_pk=team.pk package_pk=package.pk %}">Torhüter editieren</a>
            <a class="btn red-btn" href="{% url 'delete_keeper' keeper_pk=keeper.pk team_pk=team.pk package_pk=package.pk %}">Torhüter löschen</a>
        </div>
    </div>
</div>


{% endblock %}