{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 top-navigation">
            <a href="{% url 'index' %}">
                <i class="fas fa-chevron-left"></i>
                Zurück zum Dashboard
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <ul class="collection">
                {% for keeper in keepers %}
                <a href="{% url 'keeper_detail' keeper_pk=keeper.pk team_pk=team.pk package_pk=package.package_id %}">
                    <li class="collection-item avatar">
                        <img src="{{ MEDIA_URL }}{{ keeper.avatar_image }}">
                        <span class="regular-2">{{ keeper.first_name }} {{ keeper.last_name }}</span>
                        <p>{{ keeper.level }}</p>
                    </li>
                </a>
                {% endfor %}
                <a href="{% url 'new_keeper' team_pk=team.pk package_pk=package.package_id %}">
                    <li class="collection-item avatar">
                        <div class="icon"><i class="fas fa-plus-circle fa-lg"></i></div>
                        Torhüter erfassen
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>

{% endblock %}