{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load bootstrap4 %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mx-auto">
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                {% bootstrap_button "Team erstellen" button_type="submit" button_class="teal-green btn-block" %}
            </form>
        </div>
    </div>
</div>

{% endblock %}