{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load bootstrap4 %}

{% block title %}
Keepertrainer - Anmelden
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto primary-title">
            <h2>Willkommen bei Keepertrainer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            Dein Account ist nun freigeschalten und du kannst das sofort beginnen dein erstes Team zu erstellen. <hr />
            <a href="{% url 'new_team' %}">Team erstellen</a>
        </div>
    </div>
</div>

{% endblock %}