{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load bootstrap4 %}

{% block title %}
Keepertrainer Passwort ändern
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto primary-title">
            <h2>Ups! etwas ist schief gelaufen</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            Wir haben einen Fehler mit dem Aktivierungslink festgestellt. Versuche es erneut oder wende dich an info@keepertrainer.ch.
        </div>
    </div>
</div>

{% endblock %}