<html lang="de">

<head>
</head>
<body>
        <div style="background-color: #0277bd; height: 20%;">
    Keepertrainer
</div>
<div>
    Hallo Keepertrainer

Du hast dich soeben für ein Konto bei {{ site.name }} angemeldet. Bitte bestätige dein Konto mit folgendem Link:

http://{{ site.domain }}{% url 'registration_activate' activation_key %}

Dieser Link ist für {{ expiration_days }} gültig. Falls du dich nicht für Keepertrainer angemeldet hast, ignoriere dieses E-Mail.

Sportliche Grüsse
Matthias
</div>
</body>
</html>