{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load bootstrap4 %}

{% block title %}
Keepertrainer Passwort zurücksetzen
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto primary-title">
            <h2>Neues Passwort angefordert</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            Ein Link per E-Mail ist unterwegs, damit du ein neues Passwort setzen kannst. Überprüfe deine E-Mails
        </div>
    </div>
</div>

{% endblock %}