{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load bootstrap4 %}

{% block title %}
Keepertrainer Passwort zurücksetzen
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto primary-title">
            <h2>Passwort gespeichert</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            Dein neues Passwort wurde erfolgreich gespeichert. Melde dich erneut für Keepertrainer an<hr />
            <a href="{% url 'auth_login' %}">Anmelden</a>
        </div>
    </div>
</div>

{% endblock %}