{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load bootstrap4 %}

{% block title %}
Keepertrainer Passwort ändern
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto primary-title">
            <h2>Passwort gespeichert</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            Dein neues Passwort wurde erfolgreich gespeichert.<hr />
            <a href="{% url 'index' %}">Zum Dashboard</a>
        </div>
    </div>
</div>

{% endblock %}