<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
        <div style="background-color: #0277bd; height: 20%;">
    Keepertrainer
</div>
<div>
             Hallo Keepertrainer

Du hast dich soeben für ein Konto bei {{ site.name }} angemeldet. Bitte bestätige dein Konto mit folgendem Link:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Dieser Link ist für gültig. Falls du dich nicht für Keepertrainer angemeldet hast, ignoriere dieses E-Mail.

Sportliche Grüsse
Matthias
</div>

  </body>
</html>

