/* Color Scheme */

/* Blue Colors - Use blue text only with links! */
.primary-blue {
    background-color: #2196f3;
}

.primary-blue:hover {
    color: #2196f3;
    text-decoration: none;
}

primary-blue a {
    text-decoration: none;
}

.primary-blue-text {
    color: #2196f3;
}

.alternate-blue-text {
    color: #0d47a1;
}

/* Grey Colors - Are Primaries for Text and Secondary for buttons, cards and content background */
.primary-dark-grey-text {
    color: #424242;
}

.primary-light-grey-text {
    color: #eeeeee;
}

.primary-light-grey-text:hover {
    color: #eeeeee;
    text-decoration: none;
}

.primary-light-grey-text a {
    text-decoration: none;
}

.alternate-grey-text {
    color: #bdbdbd;
}

.light-grey-1 {
    background-color: #eeeeee;
}

.light-grey-2 {
    background-color: #fafafa;
}

.dark-grey-1 {
    background-color: #424242;
}


/* Teal Colors */
.teal-green {
    background-color: #1de9b6;
}

/* Red Color for Alerting Purposes */
.alterting-red-text {
    color: #f44336;
}

.alterting-red {
    background-color: #f44336;
}

.data-text {
    color: #bdbdbd;
    font-size: 90%;
}

/* Hide Asterisk for Required Fields since I believe in simplicity, that means no non sense fields */
span.asteriskField {
  display: none;
}

/* Buttons */
.primary-btn {
  color: #424242;
  background-color: #1de9b6;
}

.primary-btn:hover {
  color: #424242;
  background-color: #64ffda;
}

.primary-btn:focus, .primary-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.primary-btn.disabled, .primary-btn:disabled {
  background-color: #64ffda;
}

.primary-btn:not([disabled]):not(.disabled):active, .primary-btn:not([disabled]):not(.disabled).active,
.show > .primary-btn.dropdown-toggle {
  color: #424242;
  background-color: #64ffda;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.secondary-btn {
  color: #424242;
  background-color: #e0e0e0;
}

.secondary-btn:hover {
  color: #424242;
  background-color: #fafafa;
}

.secondary-btn:focus, .secondary-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

.secondary-btn.disabled, .secondary-btn:disabled {
  background-color: #e0e0e0;
}

.secondary-btn:not([disabled]):not(.disabled):active, .secondary-btn:not([disabled]):not(.disabled).active,
.show > .secondary-btn.dropdown-toggle {
  color: #424242;
  background-color: #e0e0e0;
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

.alternate-btn {
  color: #424242;
  background-color: #eeeeee;
}

.alternate-btn:hover {
  color: #424242;
  background-color: #fafafa;
}

.alternate-btn:focus, .alternate-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

.alternate-btn.disabled, .alternate-btn:disabled {
  background-color: #e0e0e0;
}

.alternate-btn:not([disabled]):not(.disabled):active, .alternate-btn:not([disabled]):not(.disabled).active,
.show > .alternate-btn.dropdown-toggle {
  color: #424242;
  background-color: #eeeeee;
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

.red-btn {
    color: #eeeeee;
    background-color: f44336;
}

.red-btn:hover {
    color: #eeeeee;
    background-color: f44336;
}

.red-btn:focus, .red-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

.red-btn.disabled, .red-btn:disabled {
  background-color: #f44336;
}

.red-btn:not([disabled]):not(.disabled):active, .red-btn:not([disabled]):not(.disabled).active,
.show > .red-btn.dropdown-toggle {
  color: #eeeeee;
  background-color: #f44336;
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

/* Header Styles */
.nav-account {
    color: #eeeeee;
}

.nav-account:hover {
    color: #fafafa;
}

.account-dropdown {
    position: absolute;
    right: 0;
    left: auto;
    top: auto;
    bottom: 100%;
}

/* Table styles */
th, td {
    padding: 5px;
    text-align: left;
}

/* Dropdown Menu styles */
.dropdown-menu ul {
    text-decoration: none;
}

/* Primary Title */
.primary-title {
    padding-top: 2em;
    margin-bottom: 1em;
}

/* General Body Styles, especially for sticky footers */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 12rem;
}

.content {
    padding: 2em 2em 6em; /* 70px = footer height + expected padding */
    margin-bottom: -4em;  /* brings the footer into the padding gap */
    min-height: 100%;
    flex: 1 0 auto;
}


/* Chips */
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

/* Dashboard Styles */
.dashboard-card {
    background-color: #2196f3;
    position: relative;
    min-height: 7rem;
    margin: 0.5rem 0 1rem 0;
    transition: box-shadow .25s;
    border-radius: 5px;
    color: #eeeeee;
    font-size: 24px;
    padding-left: 12px;
}

.dashboard-card:hover {
    background-color: #0d47a1;
    text-decoration: none;
}

.new-team {
    margin-top: 3em;
}


/* Keeper List and Detail Styles */
.keeper-list {
    background-color: blue;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    list-style: none;
    flex-direction: column;
    padding: 0.5em 0 0 0;
    margin-bottom: 0;
}

.keeper-list .item {
    position: relative;
    background-color: red;
}

.keeper-list img {
    position: relative;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    overflow: hidden;
    vertical-align: middle;
}

.keeper-list .title {
    position: relative;
    padding-left: 0.5em;
    font-size: 1.4em;
}

.keeper-list .secondary {
    position: relative;
    padding: 0.2em 0 0 0;
    font-size: 70%;
}


/* Detail Information Page Layout */
.detail {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.detail .detail-content {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.detail .detail-content.card {
    min-height: 84px;
    position: relative;
}

.detail .detail-content.card .image-circle {
    position: relative;
    width: 7rem;
    height: 7rem;
    overflow: hidden;
    left: 27px;
    top: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.detail .detail-content.card .icon-circle {
    position: absolute;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    left: 64px;
    top: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%
}

.detail .detail-content.card i.icon-circle {
    font-size: 2rem;
    line-height: 3rem;
    color: #fff;
    background-color: #999;
    text-align: center;
}

.detail .detail-content.card .title {
    font-size: 24px;
    padding-top: 25px;
    padding-left: 27px;
}

.detail .detail-content.card .content {
    min-height: 10rem;
    padding-left: 27px;
    padding-top: 24px;
    padding-bottom: 24px;
}


/* Footer Styles */

.footer {
    color: #bdbdbd;
    position: absolute;
    height: 3rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer .index {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}