/*--------------------------------------------------------- Colors ------------------------------------------------*/
/*--------------------------------------------------------- Blue Colors - Use blue text only with links! ------------------------------------------------*/
.primary-blue {
    background-color: #2196f3;
}

.primary-blue.onmouseover {
    color: #2196f3;
    text-decoration: none;
}

primary-blue a {
    text-decoration: none;
}

.primary-blue-text {
    color: #2196f3;
}

.alternate-blue-text {
    color: #0d47a1;
}

/*--------------------------------------------------------- Grey Colors - Are Primaries for Text and Secondary for buttons, cards and content background ------------------------------------------------*/
.primary-dark-grey-text {
    color: #424242;
}

.primary-light-grey-text {
    color: #eeeeee;
}

.primary-light-grey-text.onmouseover {
    color: #eeeeee;
    text-decoration: none;
}

.primary-light-grey-text a {
    text-decoration: none;
}

.alternate-grey-text {
    color: #bdbdbd;
}

.light-grey-1 {
    background-color: #eeeeee;
}

.light-grey-2 {
    background-color: #fafafa;
}

.dark-grey-1 {
    background-color: #424242;
}


/*--------------------------------------------------------- Teal Green Color - For Primary Buttons ------------------------------------------------*/
.teal-green {
    background-color: #1de9b6;
}

.teal-green-text {
    color: #1de9b6;
}

/*--------------------------------------------------------- Red Colors - For Alerting Purposes ------------------------------------------------*/
.alerting-red-text {
    color: #f44336;
}

.alerting-red {
    background-color: #f44336;
}

/*--------------------------------------------------------- END Colors ------------------------------------------------*/

/*--------------------------------------------------------- Standard Selectors such as p, span, body styles, table ------------------------------------------------*/
.display {
    color: #424242;
    font-size: 34px;
}

.headline {
    color: #424242;
    font-size: 24px;
    margin-top: 16px;
}

.subheading {
    color: #424242;
    font-size: 20px;
    margin-top: 8px;
}

p {
    color: #424242;
    font-size: 14px;
}

.regular-2 {
    color: #424242;
    font-size: 14px;
    font-weight: bold;
}

.regular-1 {
    color: #424242;
    font-size: 14px;
}

.caption {
    color: #bdbdbd;
    font-size: 12px;
    margin-top: 8px;
}

.display.onmouseover, .headline.onmouseover, subheading.onmouseover, p.onmouseover, .regular-2.onmouseover, .regular-1.onmouseover, .caption.onmouseover {
    text-decoration: none;
}

@media screen and (max-device-width: 576px) {
    .regular-2, .regular-1, .caption {
        font-size: 95%;
    }
}

/* Hide Asterisk for Required Fields since I believe in simplicity, that means no non sense fields */
span.asteriskField {
  display: none;
}

th, td {
    padding: 5px;
    text-align: left;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 96px;
}

.content {
    padding: 2em 2em 6em; /* 70px = footer height + expected padding */
    margin-bottom: -4em;  /* brings the footer into the padding gap */
    min-height: 100%;
    flex: 1 0 auto;
}

/*--------------------------------------------------------- END Standard Selectors such as p, span, body styles, table ------------------------------------------------*/

/*--------------------------------------------------------- Buttons ------------------------------------------------*/
.primary-btn {
  position: relative;
  display: inline-block;
  margin: 4px 0 4px 0;
  color: #424242;
  background-color: #1de9b6;
}

.primary-btn:focus, .primary-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.primary-btn.disabled, .primary-btn:disabled {
  background-color: #64ffda;
}

.primary-btn:not([disabled]):not(.disabled):active, .primary-btn:not([disabled]):not(.disabled).active,
.show > .primary-btn.dropdown-toggle {
  color: #424242;
  background-color: #64ffda;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.secondary-btn {
  position: relative;
  display: inline-block;
  margin: 4px 0 4px 0;
  color: #424242;
  background-color: #e0e0e0;
}

.secondary-btn:focus, .secondary-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

.secondary-btn.disabled, .secondary-btn:disabled {
  background-color: #e0e0e0;
}

.secondary-btn:not([disabled]):not(.disabled):active, .secondary-btn:not([disabled]):not(.disabled).active,
.show > .secondary-btn.dropdown-toggle {
  color: #424242;
  background-color: #e0e0e0;
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

.alternate-btn {
  position: relative;
  display: inline-block;
  text-align: left;
  margin: 4px 0 4px 0;
  border: 1px solid #424242;
}

.alternate-btn:focus, .alternate-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

.alternate-btn.disabled, .alternate-btn:disabled {
  background-color: #e0e0e0;
}

.alternate-btn:not([disabled]):not(.disabled):active, .alternate-btn:not([disabled]):not(.disabled).active,
.show > .alternate-btn.dropdown-toggle {
  color: #424242;
}

.red-btn {
    position: relative;
    display: inline-block;
    margin: 4px 0 4px 0;
    color: #eeeeee;
    background-color: f44336;
    width: 100%;
}

.red-btn:focus, .red-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

.red-btn.disabled, .red-btn:disabled {
  background-color: #f44336;
}

.red-btn:not([disabled]):not(.disabled):active, .red-btn:not([disabled]):not(.disabled).active,
.show > .red-btn.dropdown-toggle {
  color: #eeeeee;
  background-color: #f44336;
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

/*--------------------------------------------------------- END Buttons ------------------------------------------------*/

/*---------------------------------------------------------- Dropdown Styles ------------------------------------------------*/
.dropdown-menu ul {
    text-decoration: none;
}

/* Primary More Action on every Page */
.dropdown-more {
    position: relative;
    vertical-align: middle;
    height: 100%;
    margin: 4px 0 4px 0;
    border: solid black;
}

/* Dropddown Filter */
.dropdown-filter {
    padding: 8px 0 16px 16px;
}

.dropdown-item-counter {
    position: absolute;
    background-color: #eeeeee;
    right: 16px;
    height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 4px;
}

/*--------------------------------------------------------- END Dropdowns ------------------------------------------------*/

/*--------------------------------------------------------- Header Navigation Styles ------------------------------------------------*/
.nav-account {
    color: #eeeeee;
}

.account-dropdown {
    position: absolute;
    right: 0;
    left: auto;
    top: auto;
    bottom: 100%;
}

/*--------------------------------------------------------- END Header Navigation Styles ------------------------------------------------*/

/*--------------------------------------------------------- Content Navigation and Title Styles - Back Buttons, Primary Title ------------------------------------------------*/

.top-navigation {
    padding: 16px 0 16px 0;
    font-size: 90%;
}

.top-navigation a:hover {
    text-decoration: none;
}

.page-header {
    line-height: 48px;
    vertical-align: middle;
}

.title {
    font-size: 32px;
    font-color: #424242;
}

/*--------------------------------------------------------- END Content Navigation and Title Styles ------------------------------------------------*/

/*---------------------------------------------------------- Dashboard Styles - Homepage specific styles ------------------------------------------------*/

.dashboard-card {
    background-color: #2196f3;
    position: relative;
    min-height: 7rem;
    margin: 0.5rem 0 1rem 0;
    transition: box-shadow .25s;
    border-radius: 5px;
    color: #eeeeee;
    font-size: 24px;
    padding-left: 12px;
}

.dashboard-card:hover {
    background-color: #0d47a1;
    text-decoration: none;
}

.new-team {
    margin-top: 3em;
}

/*--------------------------------------------------------- END Dashboard Styles - Homepage specific styles ------------------------------------------------*/

/*--------------------------------------------------------- Collection List Styles ------------------------------------------------*/
.collection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    list-style: none;
    flex-direction: column;
    padding: 0 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #eeeeee;
    border-bottom: none;
    border-radius: 4px;
}

.collection a:hover {
    text-decoration: none;
}

.collection .collection-item {
    position: relative;
    min-height: 72px;
    border-bottom: 1px solid #eeeeee;
    padding: 16px 16px 0 16px;
}

.collection .collection-item.avatar  {
    padding-left: 72px;
}


.collection .collection-item.avatar img {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    vertical-align: middle;
    left: 16px;
}

.collection .collection-item.avatar .icon {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    left: 24px;
}

.collection-item:focus, .collection-item:hover {
  z-index: 1;
  text-decoration: none;
}

.collection-item.disabled, .collection-item:disabled {
  color: #868e96;
  background-color: #fff;
}

.collection-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.collection-flush .collection-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.collection .collection-item .secondary {
    position: absolute;
    height: 16px;
    right: 16px;
    top: 28px;
    color:#bdbdbd;
}

@media screen and (min-device-width: 576px) {
    .collection .collection-item .secondary:hover {
        border: 1px solid #bdbdbd;
        height: 32px;
        width: 32px;
        right: 8px;
        top: 20px;
        border-radius: 4px;
    }
}

/*--------------------------------------------------------- END Collection List Styles ------------------------------------------------*/

/*--------------------------------------------------------- Cards Styles ------------------------------------------------*/
.card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    list-style: none;
    flex-direction: column;
    padding: 0 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    box-shadow: 2px;
}

.card a:hover {
    text-decoration: none;
}

.card .card-item {
    position: relative;
    min-height: 72px;
    padding: 16px 16px 0 16px;
}

.card .card-item.avatar  {
    padding-left: 72px;
}


.collection .collection-item.avatar img {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    vertical-align: middle;
    left: 16px;
}

.collection .collection-item.avatar .icon {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    left: 24px;
}

.card-item:focus, .card-item:hover {
  z-index: 1;
  text-decoration: none;
}

.card-item.disabled, .card-item:disabled {
  color: #868e96;
  background-color: #fff;
}

.card-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.card-flush .card-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.card .card-item .secondary {
    position: absolute;
    height: 16px;
    right: 16px;
    top: 28px;
    color:#bdbdbd;
}

@media screen and (min-device-width: 576px) {
    .card .card-item .secondary:hover {
        border: 1px solid #bdbdbd;
        height: 32px;
        width: 32px;
        right: 8px;
        top: 20px;
        border-radius: 4px;
    }
}

/*--------------------------------------------------------- END Card Styles ------------------------------------------------*/

/*--------------------------------------------------------- Detail Styles ------------------------------------------------*/

.detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    list-style: none;
    flex-direction: column;
    padding: 0 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.detail .detail-top {
    position: relative;
    padding: 32px 0 32px 24px;
    border-radius: 4px;
    min-height: 224px;
    border-bottom: solid 1px #eeeeee;
}

.detail .detail-top .chip {
    position: absolute;
    bottom: 16px;
    left: 16px;
    padding: 6px 24px;
    height: 32px;
    font-size: 14px;
    border-radius: 25px;
    text-align: center;
    background-color: #f1f1f1;
}

.detail .detail-top.avatar {
    padding: 32px 0 32px 0;
    text-align: center;
}

.detail .detail-top.avatar img {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 144px;
    height: 144px;
    overflow: hidden;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.detail .detail-content {
    position: relative;
    padding: 24px 16px 16px 24px;
    min-height: 160px;
    border-bottom: solid 1px #eeeeee;
}

.detail .detail-content:last-child {
    border-bottom: none;
}

.detail .detail-content .group-3 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.detail .detail-content .group-2 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.detail .detail-content .group-1 {
    position: relative;
    display: inline-block;
    width: 100%;
}

@media screen and (min-device-width: 576px) {
    .detail .detail-top.avatar {
        position: relative;
        padding: 80px 16px 0 190px;
        border-radius: 4px;
        min-height: 224px;
        text-align: left;
    }
    .detail .detail-top.avatar img {
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        width: 144px;
        height: 144px;
        overflow: hidden;
        vertical-align: middle;
        left: 16px;
        top: 40px;
    }
    .detail .detail-content .group-3 {
        width: 30%;
    }
    .detail .detail-content .group-2 {
        width: 49%;
    }
    .detail .detail-content .group {
        width: 100%;
    }
}

/*--------------------------------------------------------- END Detail Styles ------------------------------------------------*/

/*--------------------------------------------------------- Table Styles ------------------------------------------------*/

.data-table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    list-style: none;
    flex-direction: column;
    padding: 0 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.data-table .top {
    position: relative;
    padding: 32px 0 32px 24px;
    border-radius: 4px;
    min-height: 224px;
}

.data-table .top.avatar {
    padding: 32px 0 32px 0;
    text-align: center;
}

.data-table .top.avatar img {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 144px;
    height: 144px;
    overflow: hidden;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.data-table .row {
    position: relative;
    line-height: 48px;
    min-height: 48px;
    border-bottom: solid 1px #eeeeee;
    vertical-align: middle;
}

.data-table .icon {
    line-height: 48px;
    min-height: 48px;
    vertical-align: middle;
}

.data-table .row .action {
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    color:#bdbdbd;
}

@media screen and (min-device-width: 576px) {
    .data-table .top.avatar {
        position: relative;
        padding: 80px 16px 0 190px;
        border-radius: 4px;
        min-height: 224px;
        text-align: left;
    }
    .data-table .top.avatar img {
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        width: 144px;
        height: 144px;
        overflow: hidden;
        vertical-align: middle;
        left: 16px;
        top: 40px;
    }
}

/*--------------------------------------------------------- END Table Styles ------------------------------------------------*/

/*--------------------------------------------------------- Footer Styles ------------------------------------------------*/

.footer {
    color: #bdbdbd;
    position: absolute;
    height: 3rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer .index {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

/*--------------------------------------------------------- END Footer Styles ------------------------------------------------*/